/vendor
/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/app/installed.lock
/storage/app/setup-token.txt
/storage/app/*.sqlite
/database/*.sqlite
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
